
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOgrenci.cshtml";
}
<div class="slider-relative">
    <div class="slider-block">
        <div class="slider">
            <ul class="items">
                <li><img src="~/Photos/slide.jpg" alt=""></li>
                <li><img src="~/Photos/slide1.jpg" alt=""></li>
                <li class="mb0"><img src="~/Photos/slide2.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>
<div class="content page1">
    <div class="container_12">
        <div class="grid_7">
            <h2>Hoşgeldiniz</h2>
            <div class="page1_block col1">
                <img src="~/Content/images/welcome_img.png" alt="">
                <div class="extra_wrapper">
                    <p><span class="col2"></span> Sitemize üye olun Günün Menüsü her gün kayıtlı mail adresinize gelsin </p>


                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid_5">
            <h2>Features</h2>
            <ul class="list">
                <li><a href="#">Unlimited consultations and/or planning</a></li>
                <li><a href="#">Expert advice on traditions, customs, aetiquette</a></li>
                <li><a href="#">Determine and stay within budget</a></li>
                <li><a href="#">Choosing the right Wedding Venue</a></li>
                <li><a href="#">Provide preferred vendor's list</a></li>
                <li><a href="#">Assist with wedding scheme and design</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="grid_12">
            <div class="hor_separator"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
</div>









