@model Yemek.Entity.Model.Customer
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutOgrenci.cshtml";
}


   

@using (Html.BeginForm())
{
    
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                @Html.ValidationSummary()
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-mail" })            
                </div>
            </div>
        </div>
            <button type="submit"
                    class="btn btn-primary btn-block">
                Kaydet
            </button>
            
}

<script>
    $('.form-group input').attr('class', 'form-control')
</script>


