@model Yemek.Entity.Model.Customer
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutOgrenci.cshtml";
}
@using (Ajax.BeginForm("Register", "Home", FormMethod.Post, new AjaxOptions { OnSuccess = "success" }))
            {
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Mail Adresinizi girip Kaydet butonuna basmanız yeterli!</p>
        <form>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Email Address</label>
                  <input type="email" name="Email" id="Email" placeholder="EmailAdresi" /> <br />
                </div>
            </div>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default">Kaydet</button>
                    <div class="resultForm"></div>
                </div>
            </div>
        </form>
    </div>

  
       
   

}

<script>
    $('.form-group input').attr('class', 'form-control')
</script>
<script>
    $(function () {
        $("form").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                }

            },
            messages: {
                Email: {
                    required: "Email alanı boş bırakılamaz",
                    email: "Email formatında giriniz"
                },
            }
        });
    });
    $('#kaydet').click(function () {
        if ($('form').valid()) {
            $('.resultForm').text;
        }
    });
    function success(result) {
        if (result.IsSuccess == true) {
            $("form")[0].reset();
            alert("Kaydınız başarılı");

        }
        else {
            alert("Böyle Bir E-posta zaten kayıtlı");
            $("form")[0].reset();
        }
    }
</script>

