
@{
    Layout = null;
}

<!DOCTYPE html>
<style type="text/css">
    #hakan{
        font-style:italic;
        font-weight:500;
                        
        color:antiquewhite;
    }       
</style>
<html>
<head>  
    <meta name="viewport" content="width=device-width" />
    <link href="~/Views/Home/default.css" rel="stylesheet" />
    <title>Index</title>
    
</head>
<body>
    <div id="hakan"> 
        <p>hakan</p>
       
        <img src="~/photo/images.png"  width="96" height="76" alt="Company logo, a red sun rising behind a snow-capped mountain">
    </div>
</body>
</html>
