
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Motor Bilgileri
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @*Post metodu ile Controller'daki HttpPost Metoduna gider*@
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Marka</label>
                                <input class="form-control" type="text" placeholder="Marka" name="MotorBrand" required>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <input class="form-control" type="text" placeholder="Model" name="MotorModel" required>
                            </div>
                            <div class="form-group">
                                <label>Yaş</label>
                                <input class="form-control" type="text" placeholder="Yaş" name="MotorAge" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

