@model List<E_Ticaret.Entity.Model.ViewModel.ViewBookForHome>

@foreach (var item in Model)
{
    <div class="row">
        <div class="detail col-lg-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <div class="row">
                        <div class="image">
                            <img class="image"
                                style="max-height:136px; max-width:87px;"
                                 src="@item.BookPhotoURL" />
                        </div>
                        <p class="book-name">
                            <a href="#"
                               name="BookName">
                                @item.BookName
                            </a>
                    
                        <br />
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-5  text-right">

                                <input type="hidden"
                                       value="@item.Price"
                                       name="Price" />
                                <h3>
                                    <strong>@item.Price TL</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }



