
@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <p class="col-lg-offset-4 lead">SEPET</p>
    <br />
    <br />
    <div class="col-lg-9">
        <div class="row">
            @foreach (var item in ViewBag.Liste)
            {
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="@item.BookPhotoURL">
                        <div class="wordBreak caption">
                            <p class="title"><a class="aApp" href="/Home/BookDetails/@item.BookID">@item.BookName</a></p>
                            <p><a class="aApp" target="_blank" href="/Home/Writer/@item.WriterID">@item.WriterName</a></p>
                            <h4 class="pull-right">@item.Price TL</h4>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="container">
            <div class="col-lg-offset-2">
                <label>Toplam Ücret:</label><input id="Text1" type="text" />
            </div>
            <div>
            </div>
        </div>
        </div>
    </div>
        



