@model IList<Yemek.Entity.Model.Product>


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yazı Bilgileri
            </div>
            
            @using (Html.BeginForm("Add", "Admin", FormMethod.Post))
            {
                foreach (var item in Model)
                {
                 @Html.CheckBoxFor(m => item.IsSelected) @item.ProductName;<br />
                    
                }
                <button type="submit"
                        class="btn btn-primary btn-block">
                    Kaydet

                </button>
            }
   
        </div>
    </div>
</div>

<script>
    $('.form-group input').attr('class', 'form-control')
</script>


















