<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Protein</title>
    <link href="~/Content/Css/Home/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Home/shop-homepage.css" rel="stylesheet" />
    <link href="~/Content/Css/Home/NavBar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">

        body {
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <div class="head-menu logged-in">
            <ul>
                @{

                    if (Session["Email"] != null)
                    {
                        <li class="giris">
                            <a href="#">@ViewBag.Email</a>
                        </li>

                            <li class="giris">
                                <a href="/Customer/Account">HESABIM</a>
                            </li>

                            <li class="separator"></li>

                            <li class="giris">
                                <a href="/Customer/Logout">ÇIKIŞ</a>
                            </li>

                            <li class="#"></li>

                            <li class="sepet">
                                <a href="/Home/Sepetim">SEPETİM</a>
                            </li>
                        }
                    else
                    {
                <li class="sepet"><a href="/Customer/Login">Üye Girişi</a></li>
                <li><span>&</span></li>
                <li class="sepet"><a href="/Customer/Register">Üye ol</a> </li>
                <li class="sepet"><a href="/Home/Sepetim/"><span class="glyphicon glyphicon-shopping-cart"></span> Sepetim</a></li>
                        }
                    }
            </ul>
        </div>
        <ul></ul>
        <figure class="logo">
            <a href="/Home/Index">
                <img src="~/img/header_left.png" alt="logo">
            </a>
        </figure>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <form class="search" method="post">
                <div class="search-bar logged-in">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="searchInput" maxlength="60" placeholder="HANGİ ÜRÜNÜ ARIYORSUN?" autocomplete="off" name="Search">
                    <input type="submit" value="ARA" id="searchIcon">
                    <div class="search-suggests">
                        <ul class="product"></ul>
                        <ul class="category"></ul>
                        <ul class="author"></ul>
                        <ul class="brand"></ul>
                    </div>
                </div>
            </form>
        }
    </header>
    <!-- Page Content -->
    <!-- /.container -->
    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#">İletişim</a>
                    </li>
                </ul>
            </div>

        </footer>

    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
