<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Hakkımızda</a>
                </li>
                <li>
                    <a href="#">İletişim</a>
                </li>
            </ul>
        </div>

    </footer>

</div>

